@layer components {
  @scope (.content-text) {
    :scope {
      white-space: pre-wrap;
      overflow-wrap: anywhere;
    }
  }

  @scope (.content-code) {
    :scope {
      max-inline-size: 100%;
      overflow-x: auto;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: var(--text-color);
      background-color: var(--option-color);
      font-family: var(--font-family-mono);
      font-size: 1rem;
      tab-size: 2;
      white-space: pre;
    }
  }
}
