@layer components {
  @scope (.results) {
    :scope {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    :scope .answer {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 0.25rem;

      .option-content {
        inline-size: 100%;
      }
    }
  }
}
