@layer components {
  @scope (.dots) {
    :scope {
      background-color: var(--primary-color);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 6px var(--text-color);
      border: 2px solid var(--text-color);
      border-radius: 1rem;
      padding: 0.75rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.6rem;
      position: relative;
      inline-size: min(100%, 500px);
      margin-inline: auto;
      margin-block: 1rem;
    }

    .dot {
      display: grid;
      place-items: center;
      inline-size: 1.7rem;
      aspect-ratio: 1;
      border-radius: 50%;
      text-decoration: none;
      color: var(--text-color);

      &.correct {
        background-color: var(--correct-color);
      }

      &.incorrect {
        background-color: var(--incorrect-color);
      }
    }
  }
}
