@layer components {
  @scope (.info) {
    :scope {
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;
      border-block-start: 1px solid color-mix(in srgb, var(--progress-color) 35%, transparent);
      padding-block: 1rem 0.25rem;

      opacity: 1;
      block-size: max-content;
      overflow: clip;
      transition:
        opacity 0.3s,
        block-size 0.3s;

      @starting-style {
        opacity: 0;
        block-size: 0;
      }
    }

    h3,
    h4 {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      svg {
        color: var(--progress-color);
        flex: 0 0 auto;
      }
    }
  }
}
