@layer components {
  @scope (.info) {
    :scope {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      background-color: var(--info-color);
      padding: 0.75rem;
      border-radius: 16px;
      opacity: 1;
      block-size: max-content;
      overflow: clip;
      transition:
        opacity 0.3s,
        block-size 0.3s;

      @starting-style {
        opacity: 0;
        block-size: 0;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
  }
}
