@layer components {
  @scope (.web-header) {
    :scope {
      padding-block: 1rem;
    }

    .brand-logo {
      inline-size: clamp(250px, 180px + 11.667vw, 320px);
      block-size: auto;
      margin-inline: auto;
    }
  }
}
