@layer components {
  @scope (.post-quiz-actions) {
    :scope {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    .button {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;

      svg {
        flex-shrink: 0;
      }

      &.menu-action {
        background-color: var(--option-color);
        color: var(--text-color);
      }
    }
  }
}
