@layer components {
  @scope (footer) {
    :scope {
      text-align: center;
      padding-block-end: 1rem;
      padding-block-start: 2rem;

      p,
      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      a {
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
